
#buybt{
    font-weight: bold;
    width: 150px;
    height: 50px;
}
#buybt:hover{
    background-color: aqua;
}
#buybt2{
    font-weight: bold;
    width: 150px;
    height: 50px;
}
#buybt2:hover{
    background-color: aqua;
}
#cart:hover{
    color: aqua;
}
#mbanner {
    width: 100%;
    height: 100vh;
    background-color: aqua;
    display: flex;
   
}

#bdiv {
    display: flex;
    align-items: center;
}

#im {
    margin-right: 20px; 
}
#mcon{
    font-size: 45px;
    margin-bottom: 150px;
    margin-left: 45px;
}
#mcon2{
    color: white;
    font-size: 70px;
    font-weight: bold;
   
}
#mbtn{
    font-size: 17px;
    margin-left: 80px;

}
.product-card {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ccc;
    padding: 10px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
   
}

.product-image {
    width: 100%;
    height: 200px;
    margin-bottom: 10px;
    text-align: center;
}

.product-image img {
    max-width: 100%;
    max-height: 100%;
}

.product-title {
    font-size: 24px;
    margin: 0;
    text-align: center;
}

.product-price {
    font-size: 20px;
    margin: 0;
    text-align: center;
}

.add-to-cart-btn,
.view-btn {
    background-color: cornflowerblue;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    border-radius: 3px;
    transition: all 0.25s ease;
}

.add-to-cart-btn:hover,
.view-btn:hover { 
    opacity: 0.8;
}
