body{
    margin: 0;
}
ul , li{
    display: inline-block;
     padding-inline: 25px;
     font-size: 20px;
     font-family: Arial, Helvetica, sans-serif;
   
     margin-top: 15px;
}
#menu_content{
    display: flex;
    background-color: #323232;
    margin: 0;
    width: 100%;
    position: fixed;
    top: 0; 
    z-index: 1000;
   
   
}
#smenu{
    display: flex;
}

#search{
   
    padding-top: 10px;
    padding-bottom: 8px;
    margin-top: 10px;
    width: 170px;
    font-size: 12px;
   border-radius: 5px;
    outline-color: blue;
}
.a{
    text-decoration: none;
    color: white;
    padding: 9px;   
}
#se{
    color: white;
}
.a:hover{
    background-color: white;
     border-radius: 5px;
    color: black;
    text-decoration: none;
   
}
#se:hover{
      font-size: 15px;
       color: aqua;
      
}
#cart:hover{
    color: aqua;
}
